.Container {
	width: 100%;
	margin: 9px 0px;
}

.Title {
	font-size: 16px;
	text-align: center;
}

.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.TableHeader {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 3px solid rgb(27, 27, 27);
	background-color: lightsteelblue;
}

.col1 {
	min-width: 50px;
	padding: 2px 6px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	text-align: center;
}
.col2 {
	min-width: 390px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}
.col3 {
	min-width: 120px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}
.col4 {
	min-width: 80px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}
.col5 {
	min-width: 100px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}

.RowsContainer {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid gray;
	background-color: rgb(255, 255, 255);
}

.descriptionInput {
	min-width: 390px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	outline: none;
	border: 1px solid rgb(124, 124, 124);
}
.descriptionInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}

.quantityInput {
	width: 120px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	outline: none;
	border: 1px solid rgb(124, 124, 124);
}
.quantityInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}
.unitInput {
	width: 80px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	outline: none;
	border: 1px solid rgb(124, 124, 124);
}
.unitInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}

.unitPriceInput {
	min-width: 200px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	border: 1px solid rgb(124, 124, 124);
	outline: none;
}
.unitPriceInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}
