.Container {
	background-color: rgb(242, 242, 242);
	border-radius: 9px;
	position: relative;
	padding: 12px;
	min-width: 450px;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.CloseBtn {
	position: absolute;
	top: 9px;
	left: 9px;
	padding: 2px 6px;
	font-size: 19px;
	font-weight: 600;
	color: red;
	background-color: aliceblue;
	border-radius: 6px;
	border: 1px solid red;
}
.CloseBtn:hover {
	background-color: red;
	color: white;
}

.Title {
	margin-bottom: 30px;
	font-size: 20px;
}

.SearchFormContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.searchPara > span {
	font-size: 12px;
	margin-right: 6px;
	color: red;
}

.SearchInputBtnContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	width: 50%;
	color: black;
}

.searchInput {
	padding: 7px 9px;
	background-color: aliceblue;
	color: black;
	border-radius: 3px;
	border: 1px solid black;
}
.searchInput:focus {
	border: 1px solid rgb(0, 136, 255);
}

.SearchBtn {
	background-color: rgb(0, 136, 255);
	border: 1px solid white;
	padding: 1px 9px;
	border-radius: 3px;
	font-weight: 500;
}

.SearchBtn:hover {
	background-color: rgb(3, 101, 188);
}

/* //// */
