.Container {
	background-color: rgb(242, 242, 242);
	border-radius: 9px;
	position: relative;
	padding: 12px;
	min-width: 450px;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.CloseBtn {
	position: absolute;
	top: 9px;
	left: 9px;
	padding: 2px 6px;
	font-size: 19px;
	font-weight: 600;
	color: red;
	background-color: aliceblue;
	border-radius: 6px;
	border: 1px solid red;
}
.CloseBtn:hover {
	background-color: red;
	color: white;
}

.Title {
	margin-bottom: 30px;
	font-size: 20px;
}

.FormContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.TableHeader {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 3px solid gray;
	background-color: lightsteelblue;
}

.col1 {
	min-width: 50px;
	padding: 2px 6px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	text-align: center;
}
.col2 {
	min-width: 390px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}
.col3 {
	min-width: 120px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}
.col4 {
	min-width: 80px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}
.col5 {
	min-width: 200px;
	padding: 4px 6px;
	border-left: 1px solid gray;
}

.RowsContainer {
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid gray;
	background-color: rgb(255, 255, 255);
}

.descriptionInput {
	min-width: 390px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	outline: none;
	border: 1px solid rgb(124, 124, 124);
}
.descriptionInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}

.quantityInput {
	width: 120px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	outline: none;
	border: 1px solid rgb(124, 124, 124);
}
.quantityInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}
.unitInput {
	width: 80px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	outline: none;
	border: 1px solid rgb(124, 124, 124);
}
.unitInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}

.unitPriceInput {
	min-width: 200px;
	background-color: white;
	color: rgb(57, 57, 57);
	padding: 6px 6px;
	border: 1px solid rgb(124, 124, 124);
	outline: none;
}
.unitPriceInput:focus {
	border: 1px solid dodgerblue;
	outline: none;
}

.AddRowContainer {
	width: 100%;
	display: flex;
	margin: 6px 0px;
	padding: 0px 9px;
	gap: 6px;
}
.AddRowBtn {
	width: 30px;
	height: 30px;
	border-radius: 9px;
	padding: 3px;
	padding-bottom: 5px;
	background-color: rgb(2, 209, 43);
	font-size: 20px;
	font-weight: 600;
	border: 1px solid;
}
.AddRowBtn:hover {
	background-color: rgb(2, 289, 60);
}

.RemoveRowBtn {
	width: 30px;
	height: 30px;
	border-radius: 9px;
	padding: 3px;
	padding-bottom: 5px;
	background-color: rgb(209, 2, 2);
	font-size: 20px;
	font-weight: 600;
	border: 1px solid;
}
.RemoveRowBtn:hover {
	background-color: rgb(239, 2, 2);
}

.SubmitBtn {
	width: 100%;
	height: 30px;
	border-radius: 6px;
	margin: 9px 0px;
	padding: 3px;
	padding-bottom: 5px;
	background-color: rgb(2, 123, 209);
	font-weight: 600;
	border: 1px solid;
}

.SubmitBtn:hover {
	background-color: rgb(2, 123, 239);
}

.Error {
	color: red;
	font-size: small;
}
